# Data Science Tools & Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular that Data Science use are:
1. Python
2. R
3. Scala

#### Some of the commenly used Libraries used by Data Scientists are:
1. Pandas
2. Numpy
3. Plotlib
5. ggplot
4. Scipy
5. Scikit-Learn

Data Science Tools|
------------------|
Jupyther          |
Visual Basic      |
R Studio.         |

### Below are a few examples of evaluating arithmetic expressions in Python

***Objectives:
. Python
. R 
. Scala***

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

#### Paul Tohme